@import '~@angular/material/theming';

// Define your palettes.
$primary-palette: mat-palette($mat-indigo);
$accent-palette: mat-palette($mat-pink, A200, A100, A400);
$warn-palette: mat-palette($mat-red);

// Create the theme object.
$custom-theme: mat-light-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette,
      warn: $warn-palette,
    )
  )
);

// Include Angular Material theme styles.
@include angular-material-theme($custom-theme);
